//项目通用样式
@import './base/base'

//页面公共样式设置
html,body
  width 100%
  height 100%
  min-height 100%
  margin 0
  padding 0
  color $black-color
  background #181818
  font-size 14px
  overflow-x scroll
  header,
  a,
  a:visited,
  a:active,
  a:link
    color $link
    text-decoration none
  a:hover
    color $linkHover
    text-decoration none
  #window-resizer-tooltip
    display none
  .main
    position relative
    margin auto
    min-height 50%
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    .header2
      color $color
    .container-fluid
      width 100%
      padding 0
      margin 0
      .row-fluid
        margin 0
        padding 0
  .fl
    float left
  .fr
    float right
  .footer
    width 100%
    color $color
    font-size 14px
    .fl
      display none
    .weixinCode
      cursor pointer
    .weixinCodeImg
      text-align center
      position: absolute;
      width 100%
      height 100%
      display none
      opacity: 0;
      top 0
      background rgba(0,0,0,0.5)
      z-index 1000
      .img-box
        width 240px
        height 270px
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -135px;
        margin-left: -120px;
        background: #fff;
        padding-top 10px
        .img-text
          color #f8ad62
          line-height 30px
        img
          width 224px
          border 1px solid #f8ad62
.ant-modal-wrap
  .ant-modal-content
    .ant-modal-body
      background #000
      padding 20px
      .ant-confirm-body
        .anticon,
        .ant-confirm-title
          display none
        .ant-confirm-content
          color #ccc
          margin-left 0
          font-size 14px
      .ant-confirm-btns
        .ant-btn
          color #000
          background #eba84c
          border-radius 0
          border 0
          outline: 0;
          box-shadow: none;


//PC端样式设置
@media screen and (min-width : 770px)
  body
    min-width 1200px
    overflow-x scroll
    .header
      position relative
      width 100%
      text-align center
      .home
        position: absolute;
        width: 20%;
        height: 100%;
        left: 40%;
        top 0
      .wap
        display none
      .nav-link
        width 1200px
        margin auto
        position relative
        .link-list
          width 250px
          height 60px
          position absolute
          bottom 0
          right 0
          .iconfont
            width 60px
            height 60px
            line-height @height
            color $color
            font-size 30px
    .footer
      width 100%
      color $color
      font-size 14px
      .produce
        color #f2a851
        margin-right 2px
        margin-left 25px
      .footer-con
        width 1200px
        margin 0 auto
        overflow: hidden;
        margin-bottom 24px
        padding 20px 20px 0 20px
        .fr
          margin-top 28px
          .company
          .footer-message
            overflow hidden
            .message-fl
              float left
              img
                width 100%
                margin-top 24px
            .message-fr
              float right
              text-align right
              .make
                margin-top 5px
                img
                  vertical-align: middle
                  margin-right 18px
              .operate
                margin-top 5px
                .aperate-le
                  margin-left 32px
                img
                  vertical-align: middle
        .fl
          float left
        .footer-copy
          width 100%
          overflow hidden
          .footer-icon
            float left
            .tel
              color #fff
            .iconfont
              display none
              font-size 22px
              width 22px
              height 22px
              &.weixinCode
                height 40px
                width 30px
                text-align center
            .footer-ma
              margin 0 12px
              display none
          .copyRight
            float right
            a,
            a:hover
              color $color
          .m-copyRight
            display none
    .main
      width 1200px
      position relative
      overflow visible
      margin auto
      .main-con
        position relative
      .nav-link
        width 100%
        margin auto
        position relative
        .link-list
          width 250px
          height 60px
          position absolute
          top -60px
          right 0
          text-align right
          .iconfont
            width 60px
            height 60px
            line-height @height
            color $color
            font-size 30px
            display inline-block
            text-align center
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3)
              display none
            &:nth-of-type(4):after
              content: '个人中心';
              position: absolute;
              width: 90px;
              margin-top -8px
              margin-left: -18px;
              font-size 14px
              display: block;
              line-height: 12px;
            &.en:after
              content: 'My Account';
              position: absolute;
              width: 90px;
              margin-top -8px
              margin-left: -18px;
              font-size 14px
              display: block;
              line-height: 12px;
      .bg
        padding 0
      .header2
        height 130px
        line-height 120px
        h1
          text-align center
          font-size 24px
          font-weight 500
          line-height 120px

//移动端样式
@media screen and (max-width : 770px)
  body
    .ant-modal-wrap
      display flex
      flex-direction column
      justify-content center
      align-items center
      .ant-modal
        top inherit
    #iScrollWrapper
      width 100%
      height 100%
      overflow hidden
      position absolute
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
    .wrapper
      position: absolute;
      width: 100%;
    .header
      position relative
      width 100%
      .pc
        display none
      img,
      a
        position relative
        display block
        width 100%
        &.home
          position: absolute;
          width: 50%;
          height: 100%;
          left: 25%;
          top 0
    .footer
      width 100%
      color $white
      padding 10px 5px 0 5px
      .footer-con
        .fl,
        .fr
          display none
        .footer-copy
          .footer-icon
            display none
          .copyRight
            display none
            text-align center
          .m-copyRight
            text-align center
            .footer-copy
              width 100%
              .footer-icon
                 display block
                 text-align center
                .footer-ma
                  display none
                  margin 0 10px
                .iconfont
                  display none
                  font-size 20px
            .produce
              color #f2a851
            .footer-message
               margin-bottom 20px
    .main
      width 100%
      margin-top 30px
      .main-con
        width 100%
      .nav-link
        width 100%
        overflow hidden
        position absolute
        top -28px
        right 0
        .link-list
          float right
          margin-right 20px
          .iconfont
            font-size 24px
            color #dcdcdc
            padding-left 8px
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3)
              display none